body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: rgba(70, 66, 70, 0.667) ;
}

.banner-column{
    background-color: dimgrey;
}

.navbar-container{
    background-color: black;
}

.about-container{
    background-color:rgba(12, 155, 95, 0.733);
}