body {
    font-family: 'Open Sans', sans-serif;
}

.banner-container {
    background-color: rgba(70, 66, 70, 0.667);
}

.banner-column {
    background-color: dimgrey;
}

.navbar-container {
    background-color: black;
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.about-container {
    background-color: rgba(12, 155, 95, 0.733);
}

.education-container {
    background-color: #EEEEEE;
}

.redtype {
    color: #FB857F;
}

.circle {
    background-color: #FB857F;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-container {
    background-color: #70D3FF;
}

.portfolio-container {
    background-color: #37515a;
}

.contact-container {
    background-color: #6F7982;
}

.inner-form {
    background-color: #45484b;
}

.btn-bg {
    background-color: #FB857F;

}

.btn-bg:hover {
    background-color: #3a3934 !important;
}

.footer {
    background-color: #5CA8F7;
}

.circle-icon{
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    font-size: 40px;
    text-align: center;
    color: #5CA8F7;
}

.circle-icon:hover{
    background-color: #252a2c;
}